.searchBar{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBar h1{
  font-size: 2rem;
  margin: 2rem;
}
.searchBar input{
  border-radius: 9999px;
  margin-bottom: 4rem;
}
.find ul{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem;
  font-size: 1.5rem;
}
.find ul h1 {
  margin: 1rem;
  text-align: center;

}
.showInfos{
  left: 10%;
  position: fixed;
  width: 90%;
  height: 45rem;
  top: 10rem;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgba(109, 101, 101, 0.966);
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.cardShow{
margin-right: 0.1rem;
}
.cardInfos{
  margin-top: 4rem;
}

.cardInfos li{
  margin-left: 0.5rem;
  background-color: beige;
  padding: 0.2rem;
  border: 1px solid;
}
.cardInfos span{
  font-weight: bold;
}
